pandas==2.2.3
numpy==2.0.2
scikit-learn==1.6.0
scipy==1.14.1
transformers==4.46.3
torch==2.5.1
#clinlp==0.9.4
pyarrow==18.0.
natsort==8.4.0
plotly==5.24.1
datasets==3.6.0
accelerate>=0.26.0
openpyxl==3.1.5
tabulate
unidecode
seaborn
python-decouple>=3.8
shap>=0.47.0
xgboost==2.1.4
optuna
pgmpy
